@theme {
	--animate-shake: shake 0.2s ease-in-out 0s 3;

	--animate-fade-up: fade-up 0.5s ease-out;

	--animate-fade-down: fade-down 0.5s ease-out;

	@keyframes shake {
		0%,
		100% {
			transform: translateX(0px);
		}
		25% {
			transform: translateX(6px);
		}
		75% {
			transform: translateX(-6px);
		}
	}

	@keyframes fade-up {
		0% {
			opacity: 0;
			transform: translateY(10px);
		}
		80% {
			opacity: 0.6;
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	@keyframes fade-down {
		0% {
			opacity: 0;
			transform: translateY(-10px);
		}
		80% {
			opacity: 0.6;
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}
