@import "tailwindcss";
@import "@zayne-labs/ui-react/css/preset.css";

/* ------------------*/
/* Shadcn Theme      */
/*-------------------*/
@theme {
	--color-shadcn-background: hsl(0, 0%, 100%);
	--color-shadcn-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-primary: hsl(222.2, 47.4%, 11.2%);
	--color-shadcn-primary-foreground: hsl(210, 40%, 98%);

	--color-shadcn-secondary: hsl(210, 40%, 96.1%);
	--color-shadcn-secondary-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-popover: hsl(0, 0%, 100%);
	--color-shadcn-popover-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-accent: hsl(210, 40%, 96.1%);
	--color-shadcn-accent-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-muted: hsl(210, 40%, 96.1%);
	--color-shadcn-muted-foreground: hsl(215.4, 16.3%, 46.9%);

	--color-shadcn-input: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-border: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-ring: hsl(215, 20.2%, 65.1%);

	--color-shadcn-destructive: hsl(0 100% 50%);
	--color-shadcn-destructive-foreground: hsl(210 40% 98%);

	--color-shadcn-sidebar: oklch(0.985 0 0);
	--color-shadcn-sidebar-foreground: oklch(0.145 0 0);
	--color-shadcn-sidebar-primary: oklch(0.205 0 0);
	--color-shadcn-sidebar-primary-foreground: oklch(0.985 0 0);
	--color-shadcn-sidebar-accent: oklch(0.97 0 0);
	--color-shadcn-sidebar-accent-foreground: oklch(0.205 0 0);
	--color-shadcn-sidebar-border: oklch(0.922 0 0);
	--color-shadcn-sidebar-ring: oklch(0.708 0 0);

	--color-sonner-success-bg: hsl(150, 100%, 6%);
	--color-sonner-success-text: hsl(150, 100%, 90%);
	--color-sonner-success-border: hsl(147, 100%, 12%);

	--color-sonner-error-bg: hsl(358, 76%, 10%);
	--color-sonner-error-text: hsl(358, 100%, 81%);
	--color-sonner-error-border: hsl(357, 89%, 16%);

	--nav-width: 82%;

	--animate-nav-show: nav-show 350ms ease;
	--animate-nav-close: nav-close 500ms ease;

	@keyframes nav-show {
		from {
			width: 0;
		}
		to {
			width: var(--nav-width);
		}
	}

	@keyframes nav-close {
		from {
			width: var(--nav-width);
		}
		to {
			width: 0;
		}
	}
}

/* -------------1-----*/
/* General CSS Reset */
/*-------------------*/
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: transparent;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	html {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button {
		outline: transparent;
	}

	button:not(:disabled) {
		cursor: pointer;
	}

	body {
		line-height: 1.5;
	}
}
