@import "tailwindcss";
@import "@zayne-labs/ui-react/css/preset.css";

/* -------------1-----*/
/* General CSS Reset */
/*-------------------*/
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: transparent;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	html {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	/* img {
      width: 100%;
      max-inline-size: 100%;
      max-width: unset;
   } */

	button {
		outline: transparent;
	}

	button:not(:disabled) {
		cursor: pointer;
	}

	body {
		line-height: 1.5;
	}
}
